.row
  .col-12
    .clearfix
      %p.float-right
        = link_to "Log in", new_session_path('user'), class: 'btn btn-primary'
        = link_to "Sign up", new_registration_path('user'), class: 'btn btn-primary'

.row
  .offset-sm-2.col-sm-8.col-12
    .jumbotron
      %h1.display-4
        Welcome to MyApp

      %p.lead
        This app demonstrates how subdomains in conjunction with #{link_to 'Devise', 'https://github.com/plataformatec/devise'} and #{link_to 'Apartment', 'https://github.com/plataformatec/devise'} work.

      %hr.mt-4

      %p
        Start using the app by signing up as a user (tenant).

      %p
        When you are signing up you are asked for a subdomain. This will be your own subdomain. Everything belonging to your user will be accessible only via this subdomain. Actually in this app it’s only a fake dashboard which belongs to a user. But nevertheless it’s only reachable via a subdomain.

      %p
        After logging in try to access your dashboard through another subdomain even a subdomain which belongs to another user and see what happens.


